<title>Getting Started</title>

<link rel="stylesheet" type="text/css" href="/public/stylesheets/vendor/normalize.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/vendor/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />

<script type="text/javascript" src="/public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/public/js/phaser.js"></script>
