@@ -4,7 +4,7 @@
<html>

<head>
    <title>Getting Started</title>
    <title>MiniSplat</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css"/>
