<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Splatty</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/resources/favicon.ico"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css"
    />

    <style>
      #game-container > canvas {
        margin: auto;
      }
    </style>
  </head>
