<!DOCTYPE html>


<html>

<head>
    <title>Getting Started</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
</head>
