<title>Getting Started</title>

<link rel="stylesheet" type="text/css" href="/public/stylesheets/normalize.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />

<script type="text/javascript" src="/public/js/vendor/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/public/js/vendor/phaser.js"></script>

<script type="text/javascript" src="/public/js/main.js"></script>
