<!DOCTYPE html>


<html>

<head>
    <title>Getting Started</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>

    <script type="text/javascript" src="/socket.io/socket.io.js/"></script>
    <script type="text/javascript" src="/js/vendor/garageserver.io/client/garageserver.io.js"></script>
    <script type="text/javascript" src="/js/vendor/phaser.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
