<html>

<head>
    <title>MiniSplat</title>

	<link rel='shortcut icon' type='image/x-icon' href='/resources/favicon.ico' />

    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
</head>
