canvas {
	margin: 0 auto;
}
.header {
  text-align:center;
}
body {
  background: #428bca;
  color: #f9f600;

}
/* unvisited link */
a:link {
    color: #f9f600;
}

/* visited link */
a:visited {
    color: #f9f600;
}

/* mouse over link */
a:hover {
    color: #f9f600;
}

/* selected link */
a:active {
    color: #f9f600;
}
.banana {
  text-align:center;
}
